<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <!-- Exclude API routes from being rewritten to index.html -->
        <rule name="Exclude API routes" stopProcessing="true">
          <match url="^api/.*" />
          <action type="None" />
        </rule>

        <!-- Rewrite all other routes to index.html for React SPA -->
        <rule name="React SPA Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
